@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300;400;500;600;700;800;900&family=Mr+De+Haviland&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    overflow-x: hidden;
    font-family: Roboto;
}

.parallax {
    background-attachment: fixed;
}

.ajust {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ajust h1 {
    font-family: Big Shoulders Display;
    color: #3a3a3a;
    font-size: 350px;
    font-weight: 200;
    margin-bottom: 200px;
    margin-top: 210px;
}

.ajust p {
    color: #3a3a3a;
    font-weight: 300;
}

.ajust i {
    font-size: 20px;
    margin-bottom: 10px;
}

.textBox h1{
    text-align: center;
    color: #fff;
    margin-bottom: 100px;
    font-size: 60px;
    font-family: Roboto;
}

.textBox{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 90vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
    background-color: #3a3a3a;
    opacity: 0.9;
}

.button {
    width: 60%;
    color: #fff;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 300;
    display: flex;
    align-items: center;
    padding: 1%;
    justify-content: center;
    margin-bottom: 120px;
    border: 1px solid #fff;
    transition: 0.4s;
    cursor: pointer;
}

.button:hover {
    color: #3a3a3a;
    background-color: #fff;
}


.firstImage {
    background-image: url('../../images/background.jpg');
}

.secondImage {
    background-image: url('../../images/background2.jpg');
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3a3a3a;
}

.containerHeader {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 80px;
    border-bottom: 0.1px solid grey;
}

.containerHeader h2 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 80px;
    font-weight: 300;
}

.subtitle {
    width: 80%;
}

.subtitle p {
    text-align: center;
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 200px;
    color: #fff;
}

.containerBody {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}

.card {
    width: 23vw;
    height: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #fff;
}

.card:hover {
    background-color: rgb(226, 226, 226);
}

.card h3 {
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card p {
    color: #3a3a3a;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
}

.bgCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -440px;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3a3a3a;
}

.outline {
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 4px #fff;
}

.outline i {
    font-size: 60px;
    color: #fff;
}

.ourTeam {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3a3a3a;
}

.teamHeader {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 80px;
    border-bottom: 0.5px solid grey;
}

.teamHeader h2 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 80px;
    font-weight: 300;
}

.teamSubtitle {
    width: 80%;
}

.teamSubtitle p {
    text-align: center;
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 200px;
    color: #fff;
}

.teamBody {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.peoples {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}

.profilePic {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 4px solid #fff;
}

.profilePic i {
    font-size: 80px;
    color: #fff;
}

.about {
    width: 30vw;
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
    transition: 0.8s;
}

.lineBox {
    width: 20vw;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lineBox h2{
    color: #fff;
    opacity: 0;
    font-weight: 300;
    position: absolute;
    transition: 0.4s;
}

.lineBox p {
    color: #fff;
    opacity: 0;
    font-weight: 200;
    position: absolute;
    transition: 0.4s;
}

.line {
    width: 10vw;
    height: 1px;
    background-color: #fff;
    transition: 0.4s;
}

.lineBox:hover .line {
    width: 15vw;
}

.lineBox:hover h2 {
    opacity: 1;
    transform: translateY(-30px);
}

.lineBox:hover p {
    opacity: 1;
    transform: translateY(30px);
}

.about:hover {
    background-color: rgb(226, 226, 226);
}

/*Animations*/

[data-animation] {
    opacity: 0;
    transition: 0.8s;
}

[data-animation="left"] {
    transform: translate3d(-300px, 0, 0);
}

[data-animation="bottom"] {
    transform: translate3d(0, 300px, 0);
}

[data-animation="right"] {
    transform: translate3d(300px, 0, 0);
}

[data-animation].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}



@media (max-width: 700px) {

    * {
        margin: 0;
        border: 0;
        padding: 0;
    }
    
    .ajust h1 {
        font-size: 250px;
    }

    .container p {
        font-size: 14px;
    }

    .containerBody {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 90%;
        margin-bottom: 200px;
    }

    .textBox h1{
        font-size: 24px;
    }

    .button {
        height: 60px;
    }

    .peoples {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }

    .about {
        width: 100%;
    }

    .lineBox {
        width: 50%;
    }

    .line {
        width: 20vw;
    }

    .lineBox:hover .line {
        width: 30vw;
    }
}

::selection {
    background-color: #3a3a3a;
    color: #fff;
}